<h1>Welcome, <%= current_user.username %></h1>

<% if flash.has?(:message) %>
  <h3><%= flash[:message] %></h3>
<% end %>

<% if current_user.books == [] %>
  <h3>You have no books in your library</h3>
<% else %>
  <h3>Here are all of the books in your library</h3>
  <ol>
    <% @books = current_user.books.sort_by { |book| [book.guided_reading_level, book.title] } %>
    <% @books.each do |book| %>
    <li><a href="/books/<%= book.id %>"><%= book.title %></a></li>
    <ul>
      <li>Author: <%= book.author %></li>
      <li>Genre: <%= book.genre %></li>
      <li>Guided Reading Level: <%= book.guided_reading_level %></li>
    </ul>
    <% end %>
  </ol>
<% end %>

<a href="/users/logout" style="display: block;">Log Out</a>

<a href="/users/<%= current_user.slug %>/delete">Delete your profile</a>
