<h1>Welcome, <%= current_user.first_name %></h1>

<% if flash.has?(:message) %>
  <h3><%= flash[:message] %></h3>
<% end %>

<% if current_user.books == [] %>
  <h3 class="library-heading">You have no books in your library</h3>
<% else %>
  <h3 class="library-heading">Here are all of the books in your library</h3>
  <div>
    <form method="post" action="/users/home">
      <label for="library-heading">Sort by:</label>
      <select id='library-heading' name='sort_name' type='text'>
        <% @names_to_sort_by.each() do |attribute| %>
          <option value="<%= attribute %>"> <%= attribute %> </option>
        <% end %>
      </select>

        <button type="submit" class="button">Sort</button>
    </form>
  </div>

  <div class="all-book-list">
    <ol>
      <% @sorted_books.each do |book| %>
      <li><a href="/books/<%= book.slug %>" class="book-title"><%= book.title %></a></li>
      <ul>
        <li>Author: <%= book.author %></li>
        <li>Genre: <%= book.genre %></li>
        <li>Guided Reading Level: <%= book.guided_reading_level %></li>
      </ul>
      <% end %>
    </ol>
  </div>
<% end %>



<!-- <footer>
  <a href="/users/<%= current_user.slug %>/delete" class="button">Delete your profile</a>
</footer> -->
