<h1><%= @user.username %>'s Public Profile</h1>

<% if @user.books == [] %>
  <h3>You have no books in their library</h3>
<% else %>
  <h3>Here are all of the book in their library</h3>
  <ol>
    <% @user.books.each do |book| %>
    <li><%= book.title %></li>
    <ul>
      <li>Author: <%= book.author %></li>
      <li>Genre: <%= book.genre %></li>
      <li>Guided Reading Level: <%= book.guided_reading_level %></li>
    </ul>
    <% end %>
  </ol>
<% end %>

<a href="/users/logout" style="display: block;">Log Out</a>
