<h1>Welcome, <%= current_user.username %></h1>

<h3>Here are the books in your library with a level of "<%= @books_by_level.first.guided_reading_level %>"</h3>
<ol>
  <% @books_by_level.each do |book| %>
  <li><%= book.title %></li>
  <ul>
    <li>Author: <%= book.author %></li>
    <li>Genre: <%= book.genre %></li>
    <li>Guided Reading Level: <%= book.guided_reading_level %></li>
  </ul>
  <% end %>
</ol>

<h3>Filter by a different Guided Reading Level</h3>

<% if flash.has?(:message) %>
  <h3><%= flash[:message] %></h3>
<% end %>

<form method="post" action="/books/filter/level">
  <label style="display: block;" for="level">Level:</label>
  <input type="text" name="level" />

  <button type="submit">Filter</button>
</form>

<a href="/users/logout" style="display: block;">Log Out</a>
