<h3 class="library-heading">Here are the books in your library with a level of "<%= @books_by_level.first.guided_reading_level %>"</h3>

<div class="all-book-list">
  <ol>
    <% @sorted_books = @books_by_level.sort_by { |book| book.title } %>
    <% @sorted_books.each do |book| %>
    <li><a href="/books/<%= book.id %>" class="book-title"><%= book.title %></a></li>
    <ul>
      <li>Author: <%= book.author %></li>
      <li>Genre: <%= book.genre %></li>
      <li>Guided Reading Level: <%= book.guided_reading_level %></li>
      <li>Quantity: <%= book.quantity %></li>
    </ul>
    <% end %>
  </ol>
</div>

<h3>Filter by a different Guided Reading Level</h3>

<% if flash.has?(:message) %>
  <h3><%= flash[:message] %></h3>
<% end %>

<form method="post" action="/books/filter/level">
  <label for="level">Level:</label>
  <input type="text" name="level" />

  <button type="submit" class="button">Filter</button>
</form>
