<h1><%= @book.title %></h1>

<div class="single-book">
  <ul>
    <li>Author: <%= @book.author %></li>
    <li>Genre: <%= @book.genre %></li>
    <li>Guided Reading Level: <%= @book.guided_reading_level %></li>
  </ul>
</div>

<div class="single-book-buttons">
  <form class="edit-delete-buttons" action="/books/<%= @book.id %>/edit" method="get">
    <button type="submit" class="button">Edit Book</button>
  </form>

  <form class="edit-delete-buttons" action="/books/<%= @book.id %>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <button type="submit" class="button">Delete Book</button>
  </form>
</div>
