<h1>This is the book show page</h1>


<ul>
  <li><%= @book.title %></a></li>
  <ul>
    <li>Author: <%= @book.author %></li>
    <li>Genre: <%= @book.genre %></li>
    <li>Guided Reading Level: <%= @book.guided_reading_level %></li>
  </ul>
</ul>

<form class="edit-delete-buttons" action="/books/<%= @book.id %>/edit" method="get">
  <button type="submit">Edit Book</button>
</form>

<form class="edit-delete-buttons" action="/books/<%= @book.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit">Delete Book</button>
</form>
